Self Learing Agent/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -520,
        -60
      ],
      "id": "f4fc4e08-cb07-48b0-9461-051a14b7fec2",
      "name": "Telegram Trigger",
      "webhookId": "2431a01e-50d3-43cf-a984-02045f5e43c6",
      "credentials": {
        "telegramApi": {
          "id": "FQDPJGr0ycg1bBqY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app2rPiyFOKezQSiW",
          "mode": "list",
          "cachedResultName": "First Memory Agent",
          "cachedResultUrl": "https://airtable.com/app2rPiyFOKezQSiW"
        },
        "table": {
          "__rl": true,
          "value": "tbl4aUkSFECaftqW3",
          "mode": "list",
          "cachedResultName": "Memory table",
          "cachedResultUrl": "https://airtable.com/app2rPiyFOKezQSiW/tbl4aUkSFECaftqW3"
        },
        "returnAll": false,
        "limit": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -200,
        200
      ],
      "id": "81fcc4f7-e5ab-448a-974b-53fc06782b4e",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "1YjJlV1h3DVBDKwK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Memory"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        20,
        200
      ],
      "id": "43864d3f-dfab-4c5c-b1dd-8ec11a337191",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        520,
        -20
      ],
      "id": "3ecf5a05-61ce-44c4-8175-a94cec68a19f",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Current time/day: {{ $now }}\n\nYou are a helpful assistant with the ability to add and read “memories” about the user.\n\nTo add a new memory or insight to the top of your list of recent memories you can use the memory_tool which allows you to add short 1 sentence insights about the user to your memory for the future, in order to help you customize your response output.\n\nYou don’t have to always “customize” based on the memories, but if there is a good reason to customize your response you can use the memories below to do so. These are memories that have been added by you. If you need to learn more about the user for the future you can ask questions in order to take note of their preferences.\n\nUse your current memories of the user to recall past insights about them.\n\nRead your most recent memories here:\n{{ $json.Memory }}\n\nTailor your response based on relevant memories if you find that a memory is relevant to the response.\n\nAlways output your final response as a conversational piece rather than a list or blog post. If you must make a list keep it simple and don’t add too much hierarchy only share the most important notes! After thinking of your response, consider the TLDR version and always give a conversational, cheeky fun reply while remaining assertive, helpful and not too playful. Give a meek tone to your response."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        820,
        -100
      ],
      "id": "fd1851c1-36ff-49e5-b13b-ab6df15f1c06",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        740,
        140
      ],
      "id": "43f7e85e-56df-4eff-ba09-80b0782408c2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LRYuknUlOrQAtzhq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        880,
        140
      ],
      "id": "c4ca9996-6728-4e9c-bddd-8c6c29a9277f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app2rPiyFOKezQSiW",
          "mode": "list",
          "cachedResultName": "First Memory Agent",
          "cachedResultUrl": "https://airtable.com/app2rPiyFOKezQSiW"
        },
        "table": {
          "__rl": true,
          "value": "tbl4aUkSFECaftqW3",
          "mode": "list",
          "cachedResultName": "Memory table",
          "cachedResultUrl": "https://airtable.com/app2rPiyFOKezQSiW/tbl4aUkSFECaftqW3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Memory": "={{ $fromAI ('add_memory' ,'write a memory for a future reference about the user in 150 characters or less')}}"
          },
          "matchingColumns": [
            "Memory"
          ],
          "schema": [
            {
              "id": "Memory",
              "displayName": "Memory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1020,
        140
      ],
      "id": "1f956c2d-8bf0-4bc9-a66d-54e4a0d8658c",
      "name": "memory_tool",
      "credentials": {
        "airtableTokenApi": {
          "id": "1YjJlV1h3DVBDKwK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        -100
      ],
      "id": "bbbd10ae-58e5-4995-a404-4b0ba5f4e731",
      "name": "Telegram",
      "webhookId": "51fb18fb-91b9-4b60-8b34-4c7852a51478",
      "credentials": {
        "telegramApi": {
          "id": "FQDPJGr0ycg1bBqY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text}}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "9ffcc780-0af9-4095-91fa-1d8ee3fa297e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "964b485a-f3b0-4254-abd4-e8b3b4ed3e80",
                    "leftValue": "={{ $json.message.voice.file_id}}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -300,
        -220
      ],
      "id": "9e61cbee-eaff-4360-b11a-cab3535091d8",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6470e58-a4fd-4eee-bdb2-d52ec5f2b4f6",
              "name": "text",
              "value": "={{ $json.message.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -400
      ],
      "id": "7b1fa56f-e8fa-4517-a6f8-c85f5564185b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        -180
      ],
      "id": "3c2c7cf4-d7e3-40c9-b83b-4d2bc8787aa8",
      "name": "Telegram1",
      "webhookId": "718554a9-29b6-4cf9-8cfd-ae4fd5958844",
      "credentials": {
        "telegramApi": {
          "id": "FQDPJGr0ycg1bBqY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        140,
        -40
      ],
      "id": "8988d41f-c942-4b68-a0d4-92dba98ffcca",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "0QDpPBhREKHyMmlj",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "memory_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8779e51-0c07-4efb-b5b3-46444b3d23b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "339c83970216029dd8e2a60b31d154affef5dc7feefb3ae31102a824b752fae5"
  },
  "id": "vbRwQoWIKWLUQp3H",
  "tags": []
}