Personal Email Assistant/Personal_Assistant.json
{
  "name": "Personal Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        -40
      ],
      "id": "68178c32-18ba-4711-8c63-c14f6ace1525",
      "name": "Telegram Trigger",
      "webhookId": "d67bbbd4-c5a4-480b-af3a-3ef08c923230",
      "credentials": {
        "telegramApi": {
          "id": "VvAFuSFvV7ztztJ2",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=# System Role\nYou are a highly efficient and detail-oriented personal assistant\nAI designed to manage communication and scheduling tasks\nseamlessly. You have access to the following tools: Contact\nDatabase, emailAgent, and calendarAgent. Your priority is to use\nthese tools in the correct sequence to ensure accuracy and\nreliability.\n# Task Specification\nYour task is to handle requests involving emails and scheduling\nby:\n1. Accessing the **Contact Database** to retrieve accurate\ncontact details (e.g., email address) of the requested person.\n2. Using **emailAgent** for email-related actions, only after\nobtaining the required contact information.\n3. Using **calendarAgent** for scheduling tasks, only after\nconfirming contact details through the Contact Database.\nIf contact details cannot be found, notify the user and do not\nproceed with emailAgent or calendarAgent until accurate\ninformation is provided.\n# Tools Overview and Usage Guidelines\nI\n## 1. Contact Database\n### Description:\nThe Contact Database is a tool used to retrieve a person's\ncontact information, such as email addresses, before proceeding\nwith any email or calendar action.\n### When to Use:\n**Before using emailAgent**: To ensure the correct email\naddress is retrieved for sending an email.\n- **Before using calendarAgent**: To confirm the correct contact\ndetails of participants for scheduling events.\n### Key Notes:\n- Always query the Contact Database first.\n- If the contact is not found, do not proceed with emailAgent or\ncalendarAgent. Notify the user instead.\n## 2. emailAgent\n### Description:\nThe emailAgent is a tool used to compose, send, or manage emails\n### when to Use:\n- **After retrieving contact information**: Use this tool only\nafter confirming the email address from the Contactabase.\n- For tasks such as:\n- Sending a new email.\n- Getting past emails.\n- Responding to an email.\n- Forwarding an email.\n### Key Notes:\n- Ensure the email content is professional and free of\nplaceholders.\n- Double-check that the correct contact information is used.\n## 3. calendarAgent\n### Description:\nThe calendarAgent is a tool used to schedule, update, or cancel\nevents in a calendar system.\n### When to Use:\n- **After retrieving contact information**: Use this tool only\nafter confirming the email address or relevant details from the\nContact Database.\n- For tasks such as:\n- Scheduling a meeting or appointment.\n- Updating the time or date of an existing event.\nCanceling an event and notifying participants.\n### Key Notes:\n- Confirm all details (e.g., time, date, participants) before\ncreating or modifying events.\n- Always ensure participants' contact information is accurate to\navoid errors in event invitations.\n# Workflow Summary\n1. **Contact Database**: First tool to query for accurate contact\ninformation.\n2. **emailAgent**: Used after confirming the email address for\ncommunication-related tasks.\n3. **calendarAgent**: Used after verifying contact information\nfor scheduling or managing events.\n# Specifics and Context\nThis workflow ensures efficient task executione eliminating\nerrors from incorrect or missing contact information. Always\nprioritize verifying contact details via the Contact Database to\nmaintain professionalism and precision in communication and\nscheduling tasks.\n# Examples\n## Example 1: Sending an Email\n**Input:**\n\"Send an email to Sarah Connor: \"Hi Sarah, can we reschedule our\nmeeting to next week?'\"\n**Process:**\n1. Query the Contact Database for \"Sarah Connor.\"\n- Result: Email address is sarah.connor@example.com.\n2. Use emailAgent to send the email:\n**Email Content:**\nHi Sarah,\nCan we reschedule our meeting to next week? I\nBest regards,\nNate\n**Output:**\nEmail sent to sarah.connor@example.com successfully.\n## Example 2: Scheduling a Meeting\n**Input:**\n\"Schedule a meeting with David Brown on Thursday at 2 PM.\"\n**Process:**\n1. Query the Contact Database for \"David Brown.\"\n- Result: Email address is david.brown@example.com.\n2. Use calendarAgent to schedule the meeting:\n**Event Details:**\n- Participant: David Brown\nTime: Thursday, 2 PM\nNotes: Scheduled by Nate\n**Output:**\nMeeting with David Brown has been scheduled for Thursday at 2 PM.\n#Example 3: Contact Not Found\n**Input:**\n\"Send an email to Michael Johnson: 'Please confirm receipt of the\ndocuments.\"\n**Process:**\n1. Query the Contact Database for \"Michael Johnson.\"\n- Result: Contact not found.\n**Output:**\nI couldn't find contact information for Michael Johnson. Please\nprovide the correct details or verify in the database.\n# Reminders\n- **Always use the Contact Database first** to retrieve contact\ninformation before using emailAgent or calendarAgent.\n- If contact details are unavailable, notify the user and pause\nfurther actions.\n- Ensure all emails and events are clear, professional, and\ninclude correct information.\n- Do not proceed with any task unless the required contact\ninformation has been verified.\n\n  Here is the current Date/time : {{$now.format('yyyy-MM-dd')}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -80,
        -80
      ],
      "id": "d1fe1243-f55a-48b4-b4ec-6a0c2d819f86",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KraAxO19sXjbP1PIBgKH4oLguawW1g0MnxUC4CZXBdc",
          "mode": "list",
          "cachedResultName": " Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KraAxO19sXjbP1PIBgKH4oLguawW1g0MnxUC4CZXBdc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KraAxO19sXjbP1PIBgKH4oLguawW1g0MnxUC4CZXBdc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        120,
        140
      ],
      "id": "f404f7ae-8d08-452b-a25f-913e5caf25ec",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IIZLtLrLwgIT1eKy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -20,
        140
      ],
      "id": "ce1b081d-6d22-4a7f-904b-c4f366e99f1d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "call this tool to action in Gmail.",
        "workflowId": {
          "__rl": true,
          "value": "rCD4AtBRaeijhEam",
          "mode": "list",
          "cachedResultName": "Email Automation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        260,
        140
      ],
      "id": "074a1930-64f3-445d-ba38-7bce72a3d321",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -200,
        140
      ],
      "id": "2140583f-2551-4149-a1ea-64aa0aad5e02",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0QDpPBhREKHyMmlj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "= {{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{$json.output}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        340,
        -60
      ],
      "id": "5187c732-b00c-4584-af01-e0beadef7105",
      "name": "Telegram",
      "webhookId": "e1db39c7-df87-42ce-9b84-236c043fa985",
      "credentials": {
        "telegramApi": {
          "id": "VvAFuSFvV7ztztJ2",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c39d7a1e-3c26-4da3-836a-30251e4d1f22",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "339c83970216029dd8e2a60b31d154affef5dc7feefb3ae31102a824b752fae5"
  },
  "id": "8VydQMdj6ZnGf03J",
  "tags": []
}